*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0d60d3 ,#024151);
    .heading{
        width: 100%;
        text-align: center;
    }
    .divinp{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 30px;
        color: #fff;
        background-image: linear-gradient(to right, #0d60d3 ,#024151);
        box-shadow: 1px 1px 40px red;
        .inp{
            width: 90%;
            margin: 10px;
            padding: 15px;
            font-size: larger;
            border-radius: 10px;
            color: #fff;
            background: transparent;
            &::placeholder{
                color: #fff;
            }
        }
       
        .show{
            width: 100%;
            padding: 15px;
            text-align: center;
            font-size: xx-large;
        }
    }
    .btn{
        width: 40%;
        color: #fff;
        background-image: linear-gradient(to right, #a03605 ,#024706);
        font-size: large;
        padding: 10px;
        margin: 15px;
        &:hover{
            /* background-color: rgb(218, 67, 67); */
        background-image: linear-gradient(to right, #0d60d3 ,#024151);

        }
    }
}
.divinppara{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient(to right, #0d60d3 ,#024151);
    /* box-shadow: 1px 1px 30px red; */
}